.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.fileInput {
  opacity: 0;
  width: 100%;
  height: 100%;
}